.content h1 {
    font-size: 32px;
    color: #4da6ff;
    margin-bottom: 20px;
    max-width: 900px;
}

.content p {
    font-size: 15px;
    line-height: 1.7;
    text-align: justify;
    color: #f0f0f0;
}

.content p strong {
    font-size: 20px;
    font-weight: 600;
    color: #4da6ff;
    display: block;
    /* puts them on a new line */
    margin-top: 20px;
    border-left: 3px solid #4da6ff;
    padding-left: 10px;
}
footer {
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #a1a1aa;

    position: relative;
    /* Normal flow (not fixed) */
    bottom: 0;
    width: 100%;
    background: none;
    /* Remove background */
}



.footer p {
    margin: 0;
    letter-spacing: 0.5px;
}